<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js - The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <style type="text/css">
      ul.none {
          list-style-type: none;
      }
      ul.none li {
        text-indent: -1em;
      }
      ul.none li.pro:before {
          color: #97ca43;
          content: "+";
          float: left;
          width: 1em;
      }
      ul.none li.con:before {
        color: #DE5757;
          content: "-";
          float: left;
          width: 1em;
      }

      section img.logo {
        width: 20%;
        background: none;
        box-shadow: none;
        margin: 1em;
      }

      section img.big {
        background: none;
        box-shadow: none;
      }

      section img.inline {
        height: 1em;
        margin: 0 0.1em;
        background: none;
        box-shadow: none;
      }

      section table img.logo {
        width: 3em;
        background: none;
        box-shadow: none;
        margin: 0;
      }

      section table.center {
        width: 100%;
        margin-top: 1em;
        text-align: center;
      }

      section table.center td, section table.center th {
        text-align: center;
        padding: 0.3em;
        vertical-align: middle;
      }

      section input {
        font: inherit;
      }

/*the exact same class as earlier*/
.clip-circle{
  background:url('img/serichsen.jpg') no-repeat;
  background-size:285px 375px;
  background-position: 0px 20px;
  background-color: #FFFFFF;
  height:285px;
  width:285px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

/*new specific class for box shadow*/
.box-shad{
  box-shadow:
    0 0 150px 20px #000 inset;
}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h3><img src="prodyna.png" style="border:0" /></h3>
          <h2>Mobile Web Apps with AngularJS</h2>
        </section>

        <section>
          <img class="big" src="img/gifs/say-you-do-here.gif" style="zoom:2"/>

        </section>

        <section>
          <h1>about me</h1>
          <div class="clip-circle" style="float:left"></div>
          <ul>
            <li>IT Consultant / Software Engineer</li>
            <li>B.Sc. Wirtschaftsinformatik</li>
            <li><span style="color:#97ca43;">PRODYNA</span> Düsseldorf since 10/2011</li>
            <li>Bucher Reisen ever since</li>
            <li>SCMA & ESD - Web Technologies</li>
        <!--    <li style="margin-top:1em">Java SE/EE, JavaScript</li>
            <li>Hibernate, Vaadin, AngularJS</li>
            <li>DB2, MySQL, MongoDB</li>
            <li>Maven, Jenkins, Jira</li>
            <li>Linux, Android</li> -->
          </ul>

        </section>

        <section>
          <img class="big" src="img/skills.png">
        </section>

        <section>
          <h1>Agenda</h1>
          <h2>why?</h2>
          <h2>how?</h2>

          <aside class="notes">
            Why Mobile Web Apps? Is it a good idea?

            as soon as you are convinced

            How to build a mobile web app
          </aside>
        </section>

        <section>
          <h1>why?</h1>
          <img src="img/gifs/but-why.gif">
        </section>

        <section>
          <section>
            <h2>Which possibilities do you have?</h2>
            <ul>
              <li>Native</li>
              <li>Web / Hybrid</li>
            </ul>

            <aside class="notes">
              You can also use model driven approches -> complex -> big apps
              Some frameworks, always need to be adapted
            </aside>
          </section>

          <section>
            <h2>native development</h2>
            <table>
              <tr>
                <th></th>
                <th class="fragment" data-fragment-index="1">Android</th>
                <th class="fragment" data-fragment-index="2">iOS</th>
                <th class="fragment" data-fragment-index="3">Windows Phone</th>
              </tr>
              <tr>
                <th>languages</th>
                <td class="fragment" data-fragment-index="1">Java, C</td>
                <td class="fragment" data-fragment-index="2">Objective-C, Swift</td>
                <td class="fragment" data-fragment-index="3">C#, Visual Basic, C++</td>
              </tr>
              <tr>
                <th>tools</th>
                <td class="fragment" data-fragment-index="1">Eclipse/Android Studio</td>
                <td class="fragment" data-fragment-index="2">MacOS, XCode</td>
                <td class="fragment" data-fragment-index="3">Windows, Visual Studio</td>
              </tr>
            </table>
          </section>

          <section>
            <h2>Web / Hybrid</h2>
            <p>website + "mini browser" = native app</p>
            <ul>
              <li>adobe phonegap/apache cordova</li>
              <li>Appcelerator Titanium</li>
              <li>RhoMobile</li>
            </ul>

            <aside class="notes">
              phonegap/cordova is the "market leader"

              Phonegap vs. cordova?
              - initially named phonegap
              - bought from adobe
              - code contributed to apache, named "cordova"
              - cordova is the open source
              - functionally nearly identical
            </aside>
          </section>
        </section>

        <!-- pros / cons -->
        <section>
          <h2>What are the <span style="color:#97ca43;">advantages</span>?</h2>
          <h3>&</h3>
          <h2>What are the <span style="color:#97ca43;">use cases</span>?</h2>
        </section>

        <section>
          <section>
            <h1>native</h1>
            <ul class="none">
              <li class="pro">possibilities</li>
              <li class="pro">performance</li>
              <li class="pro">styling</li>
              <li class="con">multiple platforms</li>
              <li class="con">programming language</li>
            </ul>
          </section>

          <section>
            <h1>Native</h1>
            <ul>
              <li>you only need to support one platform</li>
              <li>styling is super-important (end user market)</li>
              <li>deep device integration (widgets, notifications, share)</li>
            </ul>
          </section>

          <section>
            <h1>Native</h1>
            <h2>examples</h2>
            <img class="logo" src="img/spotify.png" />
            <img class="logo" src="img/fb_icon.png" />
            <img class="logo" src="img/youtube.png" />
          </section>
        </section>

        <section>
          <section>
            <h1>Web / hybrid</h1>
            <ul class="none">
              <li class="pro">multiple platforms</li>
              <li class="pro">programming language</li>
              <li class="con">performance</li>
              <li class="con">limited possibilities</li>
              <li class="con">styling</li>
            </ul>
          </section>

          <section>
            <h1>web / hybrid</h1>
            <ul>
              <li>business apps</li>
              <li>small apps (functionality)</li>
              <li>combined development of app and website</li>
            </ul>
          </section>

          <section>
            <h1>web / hybrid</h1>
            <h2>examples</h2>
            <img class="logo" src="img/spon-icon.png" />
            <img class="logo" src="img/itunes.png" />
            <img class="logo" src="img/Wikipedia.png" />
          </section>

          <section>
            <img src="img/itunes-display.jpg" />
          </section>
        </section>

        <section>
          <h1>Hypotheses</h1>
          <h3>WebApps are fast</h3>
          <h3>WebApps look fabolous</h3>
          <h3>WebApps are ready for production</h3>

          <aside class="notes">endusers can hardly notice the difference, I will show you what can be done today</aside>
        </section>

        <section>
          <section>
            <h1><span style="color:#97ca43;">website</span> vs <span style="color:#97ca43;">web app</span></h1>
            <p>What about...</p>
            <ul>
              <li>offline?</li>
              <li>gps and camera?</li>
              <li>styling?</li>
              <li>JavaScript? really?</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h1>JavaScript</h1>
            <img src="img/gifs/uhy.gif">
          </section>

          <section>
            <h1>JavaScript</h1>
            <p>It is better now.</p>
            <ul class="none">
              <li class="pro">it is fast</li>
              <li class="pro">good tools</li>
              <li class="pro">good frameworks</li>
              <li class="pro">HTML5 makes things easier</li>
            </ul>
          </section>

          <section>
            <img class="big" src="img/html5_javascript_js.png" />
          </section>

          <section>
            <h1>Tools</h1>
            <p>Most of them are based on <a href="http://nodejs.org/"><img class="inline" src="img/nodejs.svg" /></a> - a platform to run JavaScript with Googles V8 engine outside of the browser</p>
            <table class="center">
              <tr>
                <th class="fragment" data-fragment-index="1">depend</th>
                <th class="fragment" data-fragment-index="2">scaffold</th>
                <th class="fragment" data-fragment-index="3">develop</th>
                <th class="fragment" data-fragment-index="4">check</th>
                <th class="fragment" data-fragment-index="5">test</th>
                <th class="fragment" data-fragment-index="6">build</th>
                <th class="fragment" data-fragment-index="7">debug</th>
              </tr>
              <tr>
                <td class="fragment" data-fragment-index="1">
                  <img class="logo" src="img/bower-logo.png" /></td>
                <td class="fragment" data-fragment-index="2">
                  <img class="logo" src="img/yeoman.png" /></td>
                <td class="fragment" data-fragment-index="3">
                  <img class="logo" src="img/webstorm_logo_small.png" /></td>
                <td class="fragment" data-fragment-index="4">
                  <img class="logo" src="img/jslint.gif" /></td>
                <td class="fragment" data-fragment-index="5">
                  <img class="logo" src="img/jasmine_vertical.svg" /></td>
                <td class="fragment" data-fragment-index="6">
                  <img class="logo" src="img/grunt-logo.png" /></td>
                <td class="fragment" data-fragment-index="7">
                  <img class="logo" src="img/micon_chrome.png" /></td>
              </tr>
              <tr>
                <td class="fragment" data-fragment-index="1"><a href="http://www.bower.io/">bower</a></td>
                <td class="fragment" data-fragment-index="2"><a href="http://www.yeoman.io">yeoman</a></td>
                <td class="fragment" data-fragment-index="3"><a href="http://www.jetbrains.com/webstorm/">WebStorm</a></td>
                <td class="fragment" data-fragment-index="4"><a href="http://www.jslint.com/">jslint</a></td>
                <td class="fragment" data-fragment-index="5"><a href="http://jasmine.github.io/">jasmine</a></td>
                <td class="fragment" data-fragment-index="6"><a href="http://gruntjs.com/">grunt</a></td>
                <td class="fragment" data-fragment-index="7"><a href="http://www.google.de/intl/de/chrome/browser/">Chrome dev tools</a></td>
              </tr>
            </table>

            <aside class="notes">npm, sublime text, karma, phantomjs, protractor, gulp, firefox</aside>
          </section>

          <section>
            <h1>javascript debugging</h1>
            <h1 class="fragment" data-fragment-index="1">remote</h1>
            <p class="fragment" data-fragment-index="1">chrome://inspect/</p>

            <aside class="notes">demo - debugging. Welchen code nehmen??<br>demo remote debugging mit android emulator</aside>
          </section>
        </section>

        <section>
          <section>
            <h1>website styling</h1>
            <ul>
              <li><span style="color:#97ca43;">responsive webdesign</span></li>
              <li>MOBILE FIRST!</li>
            </ul>
          </section>

          <section>
            <img src="img/device-sales.jpg" />
          </section>

          <section>
            <img src="img/Responsive_Webdesign_Basics_Ausschnitt.jpg" />
          </section>

          <section>
            <h1>web app styling</h1>
            <ul>
              <li>user experience</li>
              <li>gestures</li>
              <li>portrait/landscape</li>
            </ul>

            <aside class="notes">
              UX = User expects an "App" to behave diffent than a website. (slide in menu)
              swipe, pinch to zoom
            </aside>
          </section>


          <section>
            <p>there are a lot of frameworks to support you. CSS and JS</p>
            <ul>
              <li>Bootstrap (Angular-UI)*</li>
              <li>Ionic</li>
              <li>jQuery Mobile</li>
              <li>Sencha Touch</li>
              <li>OnsenUI</li>
              <li>KendoUI</li>
              <li>...</li>
            </ul>

            <aside class="notes">"Who knows bootstrap?" -> webseite zeigen <a href="http://getbootstrap.com/css/">bootstrap</a><br>
            <a href="http://ionicframework.com/docs/components/#header">ionic</a> - CSS components for mobile</aside>
          </section>
        </section>

        <section>
          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <p>HTML5 to the rescue. There are APIs for...</p>
              <ul>
                <li>camera</li>
                <li>microphone</li>
                <li>location (gps/network/wifi)</li>
                <li>device orientation</li>
                <li>filesystem</li>
              </ul>
            </div>

            <aside class="notes">
              which hardware makes a phone special? different from a pc?
            </aside>
          </section>

          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <p>phonegap has plugins to use even more. They wrap are native API/library into JavaScript.</p>
              <ul>
                <li>choose image from gallery</li>
                <li>use google speech recognition</li>
                <li>use native dialogs</li>
                <li>notifications</li>
                <li>make in-app purchases</li>
                <li>recieve intents/accept URLs</li>
              </ul>
            </div>

            <aside class="notes">
              How can my app better integrate into my phone operating system?

              Click on a youtube link in facebook app or website -> youtube app
            </aside>
          </section>

          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <p>Where is it getting complicated?</p>
              <ul>
                <li>widgets</li>
                <li>background services</li>
              </ul>
            </div>
            <p class="fragment" data-fragment-index="2">You can implement this native and still include it</p>

            <aside class="notes">Hybrid, there are some cordova plugins, maybe even write your own?</aside>
          </section>
        </section>

        <section>
          <section>
            <h1>offline</h1>
            <div class="fragment" data-fragment-index="1">
            <p>Again HTML5 to the rescue</p>
            <ul>
              <li>SPAs = "fat clients"</li>
              <li>AppCache</li>
              <li>Data storage beyond cookies</li>
              <li>Online/Offline events</li>
            </ul>
            </div>
          </section>

          <section>
            <h1>offline</h1>
            <p>some examples</p>
            <ul>
              <li><a href="http://www.mytextarea.com/">mytextarea.com</a></li>
              <li>Gmail Offline</li>
              <li>Chrome/Firefox apps</li>
            </ul>
          </section>

          <section>
            <h1>offline</h1>
            <p><a href="http://www.mytextarea.com/">mytextarea.com</a></p>
            <pre><code class="javascript">textarea = {
  textarea: null,
  init: function() {
    this.textarea = document.getElementsByTagName('textarea')[0];
    this.textarea.focus();
    this.load();
  },
  load: function() {
    this.textarea.value = localStorage.getItem('text');
  },
  save: function() {
    localStorage.setItem('text', this.textarea.value);
  }
}</code></pre>
          </section>
        </section>

        <section>
          <h1>HOW?</h1>
          <img src="img/gifs/how.gif" style="zoom: 1.5">
        </section>

        <section>
          <h1>my stack</h1>
          <ul>
            <li>Ionic Framework
              <ul>
                <li>AngularJS</li>
                <li>Apache cordova</li>
              </ul>
            </li>
            <li>Adobe PhoneGap Build</li>
          </ul>

          <aside class="notes">
            no iphone/Mac/Android/windows needed

            I will give a short introduction on all of these
          </aside>
        </section>

        <section>
          <section>
            <h1><img class="inline" src="img/AngularJS-large.png" /></h1>
            <p>A really quick introduction to angular</p>
            <ul>
              <li>developed by former Java Developers at Google</li>
              <li>client side JavaScript-SPA-MVC framework</li>
              <li>2-way data binding</li>
              <li>dependency injection</li>
            </ul>
          </section>

          <section ng-app>
            <input style="margin-bottom: 1em;" type="text" ng-model="yourName" placeholder="Enter a name here">
            <h1>Hello {{yourName}}!</h1>
          </section>

          <section>
            <pre><code class="html">&lt;script src="angular.min.js"&gt;&lt;/script&gt;

&lt;body ng-app&gt;

  &lt;input type="text" ng-model="yourName" placeholder="Enter a name"&gt;
  &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;

&lt;/body&gt;</code></pre>
          </section>

          <section id="ListApp">
            <script type="text/javascript">

            var module = angular.module('ListApp', []);
            module.controller('ListCtrl', function ($scope) {
              $scope.things = [
                {
                  name: "AngularJS",
                  color: "Red",
                  hidden: false
                },
                {
                  name: "Vaadin",
                  color: "Blue",
                  hidden: false
                },
                {
                  name: "Wicket",
                  color: "orange",
                  hidden: false
                }
              ];

              $scope.hideOldStuff = function() {
                $scope.things[1].hidden = !$scope.things[1].hidden;
                $scope.things[2].hidden = !$scope.things[2].hidden;
              }
            });

            angular.element(document).ready(function() {
              var myDiv1 = document.getElementById("ListApp");
              angular.bootstrap(myDiv1, ["ListApp"]);
            });
            </script>
            <div ng-controller="ListCtrl">
              <h1>Only a list</h1>
              <p><button ng-click="hideOldStuff()">Hide old stuff</button></p>
              <ul>
                <li ng-repeat="thing in things" style="color:{{thing.color}}" ng-hide="thing.hidden">{{thing.name}}</li>
              </ul>
            </div>
          </section>

          <section>
            <pre><code class="javascript">var module = angular.module('ListApp', []);

module.controller('ListCtrl', function ($scope) {
  $scope.things = [
    { name: "AngularJS", color: "Red", hidden: false },
    { name: "Vaadin", color: "Blue", hidden: false },
    { name: "Wicket", color: "orange", hidden: false }
  ];

  $scope.hideOldStuff = function() {
    $scope.things[1].hidden = !$scope.things[1].hidden;
    $scope.things[2].hidden = !$scope.things[2].hidden;
  }
});</code></pre>
          </section>

          <section>
            <pre><code class="html">&lt;div ng-controller="ListCtrl"&gt;
  &lt;h1&gt;Only a list&lt;/h1&gt;
  &lt;button ng-click="hideOldStuff()"&gt;Hide old stuff&lt;/button&gt;
  &lt;ul&gt;
    &lt;li ng-repeat="thing in things" style="color:{{thing.color}}" 
      ng-hide="thing.hidden"&gt;
      {{thing.name}}
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
          </section>
        </section>

        <section>
          <section>
            <h1>cordova</h1>
            <img class="big" src="img/cordova_bot.png">

            <aside class="notes">
              this is the "mini browser"<br>
              CLI to create & build hybrid web apps<br>
              plugins<br>
            </aside>
          </section>

          <section>
            <h1>cordova</h1>
            <pre><code class="bash">cordova create hello com.prodyna.hello HelloWorld

cd hello

cordova platform add android

cordova build

cordova run --device</code></pre>

            <aside class="notes">
              !build needs android/ios/wp SDKs installed on local machine!<br>
              sessions.sh mit doitlive ausführen?
            </aside>
          </section>

          <section>
            <h1>plugins</h1>
            <pre><code class="bash">cordova plugin add org.apache.cordova.camera</code></pre>
            <pre><code class="javascript">navigator.camera.getPicture( cameraSuccess, cameraError, cameraOptions );</code></pre>

            <aside class="notes">"Takes a photo using the camera, or retrieves a photo from the device's image gallery. The image is passed to the success callback as a base64-encoded String, or as the URI for the image file. The method itself returns a CameraPopoverHandle object that can be used to reposition the file selection popover."<br>
            plugins are for certain platforms only, some support all</aside>
          </section>
        </section>

        <section>
          <section>
            <h1><img class="inline" src="img/ionic-logo-white.svg"></h1>
            <ul class="none">
              <li>CSS, HTML & AngularJS components</li>
              <li>cordova-like CLI</li>
            </ul>

            <aside class="notes">
              central part are the css components optimized for mobile devices<br>
              provide a platform for mobile web app development.
            </aside>
          </section>

          <section>
            <h1>ionic</h1>
            <pre><code class="bash">ionic start myApp tabs

cd myApp

ionic platform add ios

ionic build ios

ionic emulate ios</code></pre>

            <aside class="notes">pretty much like cordova, "start" is different, "tabs" is a template</aside>
          </section>

        </section>

        <section>
          <section>
            <h1>Phonegap build</h1>
            <p>Free* build service by Adobe</p>
            <img class="logo" src="img/buildbot-hero.png">

            <aside class="notes">
              For personal use 1 private app and unlimited apps from github repos
            </aside>
          </section>

          <section>
            <img class="big" src="img/build-diagram.png">  

            <aside class="notes">No Windows, MacOS needed to build the app for the app stores<br>
            Fraport Mac Mini</aside>
          </section>
        </section>

        <section>
          <section>
            <h1>example</h1>

            <aside class="notes">a simple example app built with ionic running on an android emulator. SPO-Portal?</aside>
          </section>

        </section>

        <section>
          <h1>Read more / sources</h1>
          <ul>
            <li><a href="http://www.html5rocks.com/">HTML5 rocks</a></li>
            <li><a href="http://www.html5rocks.com/en/tutorials/device/orientation/">HTML5 device orientation</a></li>
            <li><a href="http://www.html5rocks.com/en/mobile/nativedebate/">HTML5 vs. Native</a></li>
            <li><a href="http://developer.telerik.com/featured/the-state-of-hybrid-mobile-development/">The State of Hybrid Mobile Development</a></li>
          </ul>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>

