<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js - The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <style type="text/css">
      ul.none {
          list-style-type: none;
      }
      ul.none li {
        text-indent: -1em;
      }
      ul.none li.pro:before {
          color: #97ca43;
          content: "+";
          float: left;
          width: 1em;
      }
      ul.none li.con:before {
        color: #DE5757;
          content: "-";
          float: left;
          width: 1em;
      }

      section img.logo {
        width: 20%;
        background: none;
        box-shadow: none;
        margin: 1em;
      }

      section img.big {
        background: none;
        box-shadow: none;
      }

      section img.inline {
        height: 1em;
        margin: 0 0.1em;
        background: none;
        box-shadow: none;
      }

      section table img.logo {
        width: 3em;
        background: none;
        box-shadow: none;
        margin: 0;
      }

      section table.center {
        width: 100%;
        margin-top: 1em;
        text-align: center;
      }

      section table.center td, section table.center th {
        text-align: center;
        padding: 0.3em;
        vertical-align: middle;
      }

      section input {
        font: inherit;
      }

/*the exact same class as earlier*/
.clip-circle{
  background:url('img/serichsen.jpg') no-repeat;
  background-size:285px 375px;
  background-position: 0px 20px;
  background-color: #FFFFFF;
  height:285px;
  width:285px;
  border-radius:50%;
  overflow:hidden;
  margin:auto;
}

/*new specific class for box shadow*/
.box-shad{
  box-shadow:
    0 0 150px 20px #000 inset;
}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h3><img src="prodyna.png" style="border:0" /></h3>
          <h2 style="margin-left:2em"><span class="fragment" data-fragment-index="1" style="position:absolute;left:-0.3em;font-size:0.8em;font-family: 'Covered By Your Grace';">Hybrid</span> Mobile Web Apps with <span class="fragment fade-out" data-fragment-index="2">AngularJS</span>
          <span class="fragment" style="position:absolute;left:9.2em;font-family: 'Covered By Your Grace', cursive;" data-fragment-index="3">Ionic</span>
          </h2>

          <aside class="notes"><pre>
          I love the web, I love to program for the web.

          In fact I love it so much, this presentation is a website! 
          on github ;)

          But before we get to the real topic, a few words about myself.
          </pre></aside>
        </section>

        <section>
          <img class="big" src="img/gifs/say-you-do-here.gif" style="zoom:2"/>

          <aside class="notes"><pre>
            Some of you may ask yourself. 

            "Never heard of him, what does he even do around here?"
          </pre></aside>
        </section>

        <section>
          <h1>about me</h1>
          <div class="clip-circle" style="float:left"></div>
          <ul>
            <li>IT Consultant / Software Engineer</li>
            <li>B.Sc. Wirtschaftsinformatik</li>
            <li><span style="color:#97ca43;">PRODYNA</span> Düsseldorf since 10/2011</li>
            <li>Bucher Reisen ever since</li>
            <li>SCMA & ESD - Web Technologies</li>
            <li>Linux</li>
          </ul>

          <aside class="notes"><pre>
            the last point is important, I use linux on a everyday basis. But to give this presentation a had to use windows, GoToMeeting doesn't work under Linux.
          </pre></aside>

        </section>

        <section>
          <img class="big" src="img/skills.png">

          <aside class="notes"><pre>Data from PRODYNA OnAir
prepared by a tiny JavaScript

enough about myselfs, lets talk about mobile web apps</pre></aside>
        </section>

        <section>
          <h1>Agenda</h1>
          <h2>what?</h2>
          <h2>why?</h2>
          <h2>how?</h2>

          <aside class="notes"><pre>
          what I mean with "Mobile Web App"

            Why Mobile Web Apps? Is it a good idea?

            - as soon as you are convinced -

            How to build a mobile web app
          </pre></aside>
        </section>

        <section>
          <h1>mobile web apps</h1>
          <ul>
            <li class="fragment" data-fragment-index="1">look like normal apps to install on a smartphone/tablet</li>
            <li class="fragment" data-fragment-index="2">implemented with HTML5/JS instead of Java/Objective-C</li>
            <li style="list-style-type: none;">&nbsp;</li>
            <li class="fragment" data-fragment-index="3">not websites that are viewed on a mobile device</li>
          </ul>

          <aside class="notes"><pre>
            some of the stuff I tell you is also valid for mobile websites, with slight changes
          </pre></aside>
        </section>

        <section>
          <h1>why?</h1>
          <img src="img/gifs/but-why.gif">

          <aside class="notes"><pre>
talk about different possibilities for mobile apps

pro/cons

goal is, you should be able to make a reasonable decision
          </pre></aside>
        </section>

        <section>
          <section>
            <h2>Which possibilities do you have?</h2>
            <ul>
              <li>Native</li>
              <li>Hybrid Web</li>
              <li>other hybrid approaches</li>
            </ul>

            <aside class="notes"><pre>
              we'll focus on the first too, but I'll tell you little bit about the others
            </pre></aside>
          </section>

          <section>
            <h2>native development</h2>
            <table>
              <tr>
                <th></th>
                <th class="fragment" data-fragment-index="1">Android</th>
                <th class="fragment" data-fragment-index="2">iOS</th>
                <th class="fragment" data-fragment-index="3">Windows Phone</th>
              </tr>
              <tr>
                <th>languages</th>
                <td class="fragment" data-fragment-index="1">Java, C</td>
                <td class="fragment" data-fragment-index="2">Objective-C, Swift</td>
                <td class="fragment" data-fragment-index="3">C#, Visual Basic, C++</td>
              </tr>
              <tr>
                <th>tools</th>
                <td class="fragment" data-fragment-index="1">Eclipse/Android Studio</td>
                <td class="fragment" data-fragment-index="2">MacOS, XCode</td>
                <td class="fragment" data-fragment-index="3">Windows, Visual Studio</td>
              </tr>
            </table>

            <aside class="notes"><pre>
- different platforms

- each has its own programming language

- each has its own development environment

- even different operating systems needed!
            </pre></aside>
          </section>

          <section>
            <h2>Hybrid Web</h2>
            <p>website + "mini browser" = native app</p>
            <ul>
              <li>adobe phonegap/apache cordova</li>
              <li>Appcelerator Titanium</li>
            </ul>

            <aside class="notes"><pre>
              phonegap/cordova is the "market leader"

              Appcelerator Titanium uses native UI and javascript for the application logic
              "Interpreted" hybrid apps. -> limited functionality

              phonegap "on steriods" / 
              without HTML good/bad / 
              new HEAVY APIs :-(

              Phonegap vs. cordova?
              - initially named phonegap
              - bought from adobe
              - code contributed to apache, named "cordova"
              - cordova is the open source
              - functionally nearly identical
            </pre></aside>
          </section>

          <section>
            <h2>other hybrids</h2>
            <ul>
              <li class="fragment" data-fragment-index="1">RhoMobile</li>
              <li class="fragment" data-fragment-index="1">Xamarin</li>
              <li class="fragment" data-fragment-index="2">XML VM</li>
              <li class="fragment" data-fragment-index="2">applause</li>
            </ul>

            <aside class="notes"><pre>
            INTERPRETED

              whole runtime delivered on the phone (App Store problems!)
              - rhomobile (ruby)
              - xamarin (mono, formerly monotouch)

              - BAD tool support (debugger)
              - Problems with the app store (runtime not allowed)

              GENERATED

              XML VM (cross compiler)
              introspect Android Java-Code -> XML -> stack machine (XSLT) -> Objective-C
              - doesn't work for platform specific components (UI)

              EMF, XTEXT, XPAND
              - domain (backend integrated apps, games)
              - write a DSL for this domain
              - generate APPS
              - BIG INITIAL INVESTMENT (only sensible if you want to develop many similar apps)

              enterprise app stores
            </pre></aside>
          </section>
        </section>

        <!-- pros / cons -->
        <section>
          <h2>What are the <span style="color:#97ca43;">advantages</span>?</h2>
          <h3>&</h3>
          <h2>What are the <span style="color:#97ca43;">use cases</span>?</h2>

          <aside class="notes"><pre>
            you now have a basic idea of the two most common approaches

            when should i use which?

            the customer just wants a great app, in most cases he doesn't really care how it is implemented
          </pre></aside>
        </section>

        <section>
          <section>
            <h1>native</h1>
            <ul class="none">
              <li class="pro">possibilities</li>
              <li class="pro">performance</li>
              <li class="pro">styling</li>
              <li class="con">multiple platforms</li>
              <li class="con">programming language</li>
            </ul>

            <aside class="notes"><pre>
              things are good

              multiple platforms/languages are a problem

              -> hard/much to learn

              So, when is it a good idea to use native development?
            </pre></aside>
          </section>

          <section>
            <h1>Native</h1>
            <ul>
              <li>you only need to support one platform</li>
              <li>styling is super-important (end user market)</li>
              <li>deep device integration (widgets, notifications, share)</li>
            </ul>

            <aside class="notes"><pre>
              - styling is important to business users, but you can develop web apps that look pretty sharp

              - gps, camera, etc. not that much of a problem

              - device integration: you will later see, this is not that much of a problem.
              - depending on how deep you wanna get, you need to compare the effots (write cordova plugin vs. implement everything native)
            </pre></aside>
          </section>

          <section>
            <h1>Native</h1>
            <h2>examples</h2>
            <img class="logo" src="img/spotify.png" />
            <img class="logo" src="img/fb_icon.png" />
            <img class="logo" src="img/youtube.png" />

            <aside class="notes"><pre>
              - spotify uses lock screen widgets, share functionalities, audio playing, bluetooth a2dp integration

              - facebook was a web app, moved to native because of performance (August 2012 - over 2 years ago)

              - youtube is native, video playing, sharing, widgets

            </pre><h2>lets compare web against this</h2></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>Hybrid Web</h1>
            <ul class="none">
              <li class="pro">multiple platforms</li>
              <li class="pro">programming language</li>
              <li class="pro">development</li>
              <li class="con">performance</li>
              <li class="con">limited possibilities</li>
              <li class="con">styling</li>
            </ul>

            <aside class="notes"><pre>
            development = instant feedback, no emulator, only a webbrowser!

              the last two are no "hard" cons.
              You CAN do this, its just a little more complicated.
              Performance is okay, brwosers are getting faster every day
            </pre></aside>
          </section>

          <section>
            <h1>Hybrid Web</h1>
            <ul>
              <li>business apps</li>
              <li>small apps (functionality)</li>
              <li>combined development of app and website</li>
            </ul>

            <aside class="notes"><pre>
              - business: forms, data driven, UI not 100% important, performance not critical
            </pre></aside>
          </section>

          <section>
            <h1>Hybrid Web</h1>
            <h2>examples</h2>
            <img class="logo" src="img/spon-icon.png" />
            <img class="logo" src="img/itunes.png" />
            <img class="logo" src="img/Wikipedia.png" />

            <aside class="notes"><pre>
              news app, not much more functionality than read articles

              - wikipedia, also not many fancy features

              - itunes, is a great hybrid app!
            </pre></aside>
          </section>

          <section>
            <img src="img/itunes-display.jpg" />

            <aside class="notes"><pre>
            so, are some great mobile web apps.

            Why not make some more of them? I say
            </pre></aside>
          </section>
        </section>

        <section>
          <h1>Hypotheses</h1>
          <h3>WebApps are fast</h3>
          <h3>WebApps look fabolous</h3>
          <h3>WebApps are ready for production</h3>

          <aside class="notes"><pre>
          endusers can hardly notice the difference

          I will show you what can be done today.

          BUT I STILL HAVE SOME DOUBTS! Web development is not that much cooler!
          </pre></aside>
        </section>

        <section>
          <section>
            <h1><span style="color:#97ca43;">website</span> vs <span style="color:#97ca43;">web app</span></h1>
            <p>What about...</p>
            <ul class="fragment" data-fragment-index="1">
              <li class="fragment" data-fragment-index="1">offline?</li>
              <li class="fragment" data-fragment-index="1">gps and camera?</li>
              <li class="fragment" data-fragment-index="1">styling?</li>
              <li class="fragment" data-fragment-index="1">JavaScript? really?</li>
            </ul>

            <aside class="notes"><pre>
            offline: no traditional request/response with a server possible

            gps/camera: easy!

            styling: BUT I HATE CSS! There is help out there!

            JavaScript is ugly!

            It's not all that bad (anymore)

            let me start with the last one first
            </pre></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>JavaScript</h1>
            <img src="img/gifs/uhy.gif">
          </section>

          <section>
            <h1>JavaScript</h1>
            <p>It is better now.</p>
            <ul class="fragment none" data-fragment-index="1">
              <li class="pro">it is fast</li>
              <li class="pro">good tools</li>
              <li class="pro">good frameworks</li>
              <li class="pro">HTML5 makes things easier</li>
            </ul>
          </section>

          <section>
            <img class="big" src="img/html5_javascript_js.png" />

            <aside class="notes"><pre>
              with every modern website, these are the 3 to help you

              HTML5, JavaScript (ECMAScript) 5, CSS3 (like the fancy animations of this presentation)
            </pre></aside>
          </section>

          <section>
            <h1>Tools</h1>
            <p>Most of them are based on <a href="http://nodejs.org/"><img class="inline" src="img/nodejs.svg" /></a> - a platform to run JavaScript with Googles V8 engine outside of the browser</p>
            <table class="center">
              <tr>
                <th class="fragment" data-fragment-index="1">depend</th>
                <th class="fragment" data-fragment-index="2">scaffold</th>
                <th class="fragment" data-fragment-index="3">develop</th>
                <th class="fragment" data-fragment-index="4">check</th>
                <th class="fragment" data-fragment-index="5">test</th>
                <th class="fragment" data-fragment-index="6">build</th>
                <th class="fragment" data-fragment-index="7">debug</th>
              </tr>
              <tr>
                <td class="fragment" data-fragment-index="1">
                  <img class="logo" src="img/bower-logo.png" /></td>
                <td class="fragment" data-fragment-index="2">
                  <img class="logo" src="img/yeoman.png" /></td>
                <td class="fragment" data-fragment-index="3">
                  <img class="logo" src="img/webstorm_logo_small.png" /></td>
                <td class="fragment" data-fragment-index="4">
                  <img class="logo" src="img/jslint.gif" /></td>
                <td class="fragment" data-fragment-index="5">
                  <img class="logo" src="img/jasmine_vertical.svg" /></td>
                <td class="fragment" data-fragment-index="6">
                  <img class="logo" src="img/grunt-logo.png" /></td>
                <td class="fragment" data-fragment-index="7">
                  <img class="logo" src="img/micon_chrome.png" /></td>
              </tr>
              <tr>
                <td class="fragment" data-fragment-index="1"><a href="http://www.bower.io/">bower</a></td>
                <td class="fragment" data-fragment-index="2"><a href="http://www.yeoman.io">yeoman</a></td>
                <td class="fragment" data-fragment-index="3"><a href="http://www.jetbrains.com/webstorm/">WebStorm</a></td>
                <td class="fragment" data-fragment-index="4"><a href="http://www.jslint.com/">jslint</a></td>
                <td class="fragment" data-fragment-index="5"><a href="http://jasmine.github.io/">jasmine</a></td>
                <td class="fragment" data-fragment-index="6"><a href="http://gruntjs.com/">grunt</a></td>
                <td class="fragment" data-fragment-index="7"><a href="http://www.google.de/intl/de/chrome/browser/">Chrome dev tools</a></td>
              </tr>
            </table>

            <aside class="notes"><pre>also to note npm, sublime text, karma, phantomjs, protractor, gulp, firefox</pre></aside>
          </section>

          <section>
            <h1>javascript debugging</h1>
            <h1 class="fragment" data-fragment-index="1">remote</h1>
            <p class="fragment" data-fragment-index="1">chrome://inspect/</p>

            <aside class="notes"><pre>demo - debugging. t3n.de im chrome vorbereiten und zeigen</pre></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>website styling</h1>
            <ul>
              <li><span style="color:#97ca43;">responsive webdesign</span></li>
              <li>MOBILE FIRST!</li>
            </ul>

            <aside class="notes"><pre>this is valid for NORMAL websites

            Fpr Mobile Apps "only" smartphones/tablets</pre></aside>
          </section>

          <section>
            <img src="img/Responsive_Webdesign_Basics_Ausschnitt.jpg" />

            <aside class="notes"><pre>just a quick sidenote on responsive webdesign

there is much more to it. But you get the basic idea</pre></aside>
          </section>

          <section>
            <img src="img/device-sales.jpg" />

            <aside class="notes"><pre>Why MOBILE FIRST?

Number of device sales

rapid growth / already more

also <b>mobile devices in companies</b> get more important (PD Stream)

just to give you some perspective</pre></aside>
          </section>

          <section>
            <h1>web app styling</h1>
            <ul class="fragment" data-fragement-index="1">
              <li>user experience</li>
              <li>gestures</li>
              <li>portrait/landscape</li>
            </ul>

            <aside class="notes"><pre>
            What's different to web site styling. additionally

            IDEAS ?

              UX = User expects an "App" to behave diffent than a website. (slide in menu)

              one hand (phone) - two hands (tablet/pc)

              swipe, pinch to zoom
            </pre></aside>
          </section>


          <section>
            <p>there are a lot of frameworks to support you. CSS and JS</p>
            <ul>
              <li>Bootstrap (Angular-UI)*</li>
              <li>Ionic</li>
              <li>jQuery Mobile</li>
              <li>Sencha Touch</li>
              <li>FeedHenry</li>
              <li>OnsenUI</li>
              <li>KendoUI</li>
              <li>...</li>
            </ul>

            <aside class="notes"><pre>"Who knows bootstrap?" -> webseite zeigen <a href="http://getbootstrap.com/css/">bootstrap</a>

            Liferay 6.2 Bootstrap! 

            * Bootstrap not really for MOBILE

            <a href="http://ionicframework.com/docs/components/#header">ionic</a> - CSS components for mobile

            basically they both use a grid to be "responsive"

            some have backend integration or bring own backends!</pre></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <ul>
                <li>camera</li>
                <li>microphone</li>
                <li>location (gps/network/wifi)</li>
                <li>device orientation</li>
                <li>filesystem</li>
              </ul>
              <p class="fragment" data-fragment-index="2">HTML5 has APIs for all of them.</p>
            </div>

            <aside class="notes"><pre>
            SO FAR LEARNT: Styling can be done, looks cool

              which hardware makes a phone special? different from a pc?
            </pre></aside>
          </section>

          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <p>phonegap has plugins to use even more. They wrap native APIs/libraries into JavaScript.</p>
              <ul class="fragment" data-fragment-index="2">
                <li>choose image from gallery</li>
                <li>use google speech recognition</li>
                <li>use native dialogs</li>
                <li>notifications</li>
                <li>make in-app purchases</li>
                <li>recieve intents/accept URLs</li>
              </ul>
            </div>

            <aside class="notes"><pre>
            device integration also means:

              integrate into the phone operating system?

              EXAMPLE: Click on a youtube link in facebook app or website -> youtube app
            </pre></aside>
          </section>

          <section>
            <h1>device integration</h1>
            <div class="fragment" data-fragment-index="1">
              <p>Where is it getting complicated?</p>
              <ul>
                <li>widgets</li>
                <li>background services</li>
              </ul>
            </div>
            <p class="fragment" data-fragment-index="2">You can implement this native and still include it</p>

            <aside class="notes"><pre>Where are the limits? 

            <b>Its only a matter of time!</b>

            Hybrid, there are some cordova plugins, maybe even write your own?</pre></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>offline</h1>
            <ul class="fragment" data-fragment-index="1">
              <li>SPAs = "fat clients"</li>
              <li>Data storage beyond cookies</li>
              <li>Online/Offline events</li>
            </ul>
            <p class="fragment" data-fragment-index="2">Again HTML5 to the rescue</p>

            <aside class="notes"><pre>
no server (request/response)

"state" - close app, open app, resume!
            </pre></aside>
          </section>

          <section>
            <h1>offline</h1>
            <p>some examples</p>
            <ul>
              <li><a href="http://www.mytextarea.com/">mytextarea.com</a></li>
              <li>Gmail</li>
              <li>Chrome/Firefox apps</li>
            </ul>

            <aside class="notes"><pre>
All of these are SPAs that work offline

We need this for Mobile Apps too!

Sidenote: Is it complicated? NEXT SLIDE</pre></aside>
          </section>

          <section>
            <h1>offline</h1>
            <p><a href="http://www.mytextarea.com/">mytextarea.com</a></p>
            <pre><code class="javascript">textarea = {
  textarea: null,
  init: function() {
    this.textarea = document.getElementsByTagName('textarea')[0];
    this.textarea.focus();
    this.load();
  },
  load: function() {
    this.textarea.value = localStorage.getItem('text');
  },
  save: function() {
    localStorage.setItem('text', this.textarea.value);
  }
}</code></pre>

            <aside class="notes"><pre>
              So, everything clear, right?

              It seems possible, so HOW best to do it?
            </pre></aside>
          </section>
        </section>

        <section>
          <h1>HOW?</h1>
          <img src="img/gifs/how.gif" style="zoom: 1.5">

          <aside class="notes"><pre>I will present you my stack to build mobile web apps.</pre></aside>
        </section>

        <section>
          <h1>my stack</h1>
          <ul>
            <li>Ionic Framework
              <ul>
                <li>AngularJS</li>
                <li>Apache cordova</li>
              </ul>
            </li>
            <li>Adobe PhoneGap Build service</li>
          </ul>

          <aside class="notes"><pre>
            no iphone/Mac/Android/windows needed (but good for testing and initial setup...)

            I will give a short introduction on all of these
          </pre></aside>
        </section>

        <section>
          <section>
            <h1><img class="inline" src="img/AngularJS-large.png" /></h1>
            <blockquote>Angular is what HTML would have been
            had it been designed for applications</blockquote>
            <ul class="fragment" data-fragment-index="1">
              <li>developed by former Java Developers at Google</li>
              <li>client side JavaScript-SPA-MVC framework</li>
              <li>templating</li>
              <li>"web components"</li>
              <li>2-way data binding</li>
              <li>dependency injection</li>
            </ul>

            <aside class="notes"><pre>A really quick introduction to angular

            MVC built in! There is no way without a controller!

            controllers and services are the essential components

            Injection?! Data-Binding?! -> really powerful tools, some EXAMPLES ahead!</pre></aside>
          </section>

          <section ng-app>
            <input style="margin-bottom: 1em;" type="text" ng-model="yourName" placeholder="Enter a name here">
            <h1>Hello {{yourName}}!</h1>
          </section>

          <section>
            <pre><code class="html">&lt;script src="angular.min.js"&gt;&lt;/script&gt;

&lt;body ng-app&gt;

  &lt;input type="text" ng-model="yourName" placeholder="Enter a name"&gt;
  &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;

&lt;/body&gt;</code></pre>

            <aside class="notes"><pre>
            One-Way Databinding EXAMPLE

              Data binding is really easy and very powerful.

              Works not only directly in HTML, also in the services and controllers.
            </pre></aside>
          </section>

          <section id="ListApp">
            <script type="text/javascript">

            var module = angular.module('ListApp', []);
            module.controller('ListCtrl', function ($scope) {
              $scope.things = [
                {
                  name: "AngularJS",
                  color: "Red",
                  hidden: false
                },
                {
                  name: "Vaadin",
                  color: "Blue",
                  hidden: false
                },
                {
                  name: "Wicket",
                  color: "orange",
                  hidden: false
                }
              ];

              $scope.hideOldStuff = function() {
                $scope.things[1].hidden = !$scope.things[1].hidden;
                $scope.things[2].hidden = !$scope.things[2].hidden;
              }
            });

            angular.element(document).ready(function() {
              var myDiv1 = document.getElementById("ListApp");
              angular.bootstrap(myDiv1, ["ListApp"]);
            });
            </script>
            <div ng-controller="ListCtrl">
              <h1>Only a list</h1>
              <p><button ng-click="hideOldStuff()">Hide old stuff</button></p>
              <ul>
                <li ng-repeat="thing in things" style="color:{{thing.color}}" ng-hide="thing.hidden">{{thing.name}}</li>
              </ul>
            </div>
          </section>

          <section>
            <pre><code class="javascript">var module = angular.module('ListApp', []);

module.controller('ListCtrl', function ($scope) {
  $scope.things = [
    { name: "AngularJS", color: "Red", hidden: false },
    { name: "Vaadin", color: "Blue", hidden: false },
    { name: "Wicket", color: "orange", hidden: false }
  ];

  $scope.hideOldStuff = function() {
    $scope.things[1].hidden = !$scope.things[1].hidden;
    $scope.things[2].hidden = !$scope.things[2].hidden;
  }
});</code></pre>
          </section>

          <section>
            <pre><code class="html">&lt;div ng-controller="ListCtrl"&gt;
  &lt;h1&gt;Only a list&lt;/h1&gt;
  &lt;button ng-click="hideOldStuff()"&gt;Hide old stuff&lt;/button&gt;
  &lt;ul&gt;
    &lt;li ng-repeat="thing in things" style="color:{{thing.color}}" 
      ng-hide="thing.hidden"&gt;
      {{thing.name}}
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
            <aside class="notes"><pre>Two-Way databinding EXAMPLE

            ng-repeat! cool

            What is this ng-repeat?</pre></aside>
          </section>

          <section>
            <h1>directives</h1>
            <blockquote>At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform the DOM element and its children.</blockquote>

            <aside class="notes"><pre>Think of them as "extensions" of HTML</pre></aside>
          </section>

          <section>
            <h1>built-in directives</h1>
            <p>ng-app, ng-controller, ng-repeat, ng-show, ng-model, ...</p>
            <p>make your life easier</p>
          </section>

          <section>
            <h1>your own directives</h1>
            <p>write your own HTML-elements</p>
            <ul>
              <li>components used in multiple places</li>
              <li>components with "special" behaviour</li>
            </ul>

            <aside class="notes"><pre>manipulate the DOM

	not only view components!

            add event listener

	-> web components -> polymer

            Angular-UI and Ionic heavily rely on this!
            Lot of special directives!

            EXAMPLES later!
            enough on Angular -> talk about cordova   
            </pre></aside>
          </section>

        </section>

        <section>
          <section>
            <h1>cordova</h1>
            <img class="big" src="img/cordova_bot.png">

            <aside class="notes"><pre>
              this is the "mini browser"
              CLI to create & build hybrid web apps
              plugins
            </pre></aside>
          </section>

          <section>
            <h1>cordova</h1>
            <pre><code class="bash">cordova create hello com.prodyna.hello HelloWorld

cd hello

cordova platform add android

cordova build

cordova run --device</code></pre>

            <aside class="notes"><pre>
              !build needs android/ios/wp SDKs installed on local machine!
              sessions.sh mit doitlive ausführen?
            </pre></aside>
          </section>

          <section>
            <h1>plugins</h1>
            <pre><code class="bash">cordova plugin add org.apache.cordova.camera</code></pre>
            <pre><code class="javascript">navigator.camera.getPicture( cameraSuccess, cameraError, cameraOptions );</code></pre>

            <aside class="notes"><pre>"Takes a photo using the camera, or retrieves a photo from the device's image gallery. The image is passed to the success callback as a base64-encoded String, or as the URI for the image file. The method itself returns a CameraPopoverHandle object that can be used to reposition the file selection popover."

            plugins are for certain platforms only, some support all</pre></aside>
          </section>

          <section>
            <h1>cordova</h1>
            <h2>example app</h2>
          </section>

        </section>

        <section>
          <section>
            <h1><img class="inline" src="img/ionic-logo-white.svg"></h1>
            <ul class="none">
              <li>CSS, HTML & AngularJS components</li>
              <li>cordova-like CLI</li>
            </ul>

            <aside class="notes"><pre>
              central part are the css components optimized for mobile devices

              provide a platform for mobile web app development.

              Angular + cordova + plugins + nice icing on top
            </pre></aside>
          </section>

          <section>
            <h1>ionic</h1>
            <pre><code class="bash">ionic start myApp sidemenu

cd myApp

ionic platform add ios

ionic build ios

ionic emulate ios</code></pre>

            <aside class="notes"><pre>pretty much like cordova
            "start" is different
            "sidemenu" is a template</pre></aside>
          </section>

          <section>
            <h1>ionic</h1>
            <h2>Example App</h2>
          </section>

        </section>

        <section>
          <section>
            <h1>Phonegap build</h1>
            <p>Free* build service by Adobe</p>
            <img class="logo" src="img/buildbot-hero.png">

            <aside class="notes"><pre>
              For personal use 1 private app and unlimited apps from github repos
            </pre></aside>
          </section>

          <section>
            <img class="big" src="img/build-diagram.png">  

            <aside class="notes"><pre>No Windows, MacOS needed to build the app for the app stores

            Fraport Mac Mini</pre></aside>
          </section>
        </section>

        <section>
          <section>
            <h1>example</h1>

            <p>more sophisticated Apps built with ionic</p>

            <p>SPO-Portal Quick Offer</p>
            <p>sworkit</p>

            <aside class="notes">a simple example app built with ionic running on an android emulator. SPO-Portal?</aside>
          </section>

        </section>

        <section>
          <h1>the future</h1>
          <ul>
            <li class="fragment" data-fragment-index="1">Web-Operating-Systems: FirefoxOS, ChromeOS</li>
            <li class="fragment" data-fragment-index="2">everything will be web</li>
            <li class="fragment" data-fragment-index="3">native will die</li>
          </ul>

          <aside class="notes"><pre>
            webOS, decendant of palm os, developed by Palm, later HP
            -> open source -> LG (TV sets january 2014)
          </pre></aside>
        </section>

        <section>
          <h1>questions?</h1>

          <aside class="notes"><pre>
            Apple AppStore Review - no guarantee to get in there

            phonegap is gray area

          </pre></aside>
        </section>

        <section>
          <h1>interested?</h1>
          <p>ESD Web Technologies Expert Group</p>
          <p>SCMA - Solution Center Mobile Applications</p>
          <br>
          <p>more dialogues/trainings to come!</p>

          <aside class="notes"><pre>HELP wanted!

          AngularJS training if enough participants</pre></aside>
        </section>

        <section>
          <h1>Read more / sources</h1>
          <ul>
            <li><a href="http://www.html5rocks.com/">HTML5 rocks</a></li>
            <li><a href="http://www.html5rocks.com/en/tutorials/device/orientation/">HTML5 device orientation</a></li>
            <li><a href="http://www.html5rocks.com/en/mobile/nativedebate/">HTML5 vs. Native</a></li>
            <li><a href="http://developer.telerik.com/featured/the-state-of-hybrid-mobile-development/">The State of Hybrid Mobile Development</a></li>
            <li><a href="http://heikobehrens.net/2010/10/11/cross-platform-app-development-for-iphone-android-co-%E2%80%94-a-comparison-i-presented-at-mobiletechcon-2010/">Cross-Platform App Development</a></li>
          </ul>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>

